services:
  redis-ai-cache:
    image: redis:7-alpine
    container_name: redis_cache
    restart: always
    environment:
      - REDIS_URL=redis://redis-ai-cache:6379
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: >
      redis-server 
      --maxmemory 4gb 
      --maxmemory-policy allkeys-lru
      --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  redis_data: